@using ASPMVC.Models;

@model IEnumerable<Department>

@{
    ViewBag.Title = "Index";
}

<div style="font-family: Arial">
    <h2>Department List</h2>
    <ul>
        @foreach (Department department in Model)
        {
            <li>
                @Html.ActionLink(department.Name, "Index", "Employee", new { departmentId = department.Id }, null)
            </li>
        }
    </ul>
</div>
